body{
   
    background-color: #f0f0f0;
}

.handing{
color: rgb(78, 78, 170);
font-family: 'Lobster', cursive;
}

input{
    padding: 7px;

}

label{
    color:rgb(78, 78, 170);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lobster', cursive;
}

select{
    padding: 7px;

}

button{
    background-color: rgb(78, 78, 170);
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 12px;
    font-family: 'Lobster', cursive;
}

.social-media {
    margin-bottom: 20px;
}

.social-icon {
    width: 30px;
    margin: 0 10px;
}